body {
    background-color: #fff;
    font-family: sans-serif;
}
h1 {
    font-weight: normal;
    font-size: 140%;
}
header{
    background-color:#C70522

    ;
    ;
}
p{
    margin-left: 1%;
    margin-top: 5%;
}
.cabecera{
    display: flex;
}
.logo{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;

}
.items{
    width: 100%;
    margin-left: 8%;
    display: flex;
}
.item{
    margin-left: 11%;
   
}
.Importar{
    margin-left: 3%;
    margin-bottom: 2%;
}
.button1{
    margin-left:2%;
    background-color: gray;
    color: #fff;
}
.button2{
    margin-left:33.8%;
    background-color:#dd0039;
    color: #fff;
}
.button3{
    margin-left:18.3%;
}
#blocklyDiv {
    background-color: #ff0039;
    margin-left: 3%;
}
.blocklyWorkspace{
    margin-left: 3%;
}
.playarea{
    display: flex;
}
#btnclearworkspace{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}



