body {
    background-color: #fff;
    font-family: sans-serif;
}
h1 {
    font-weight: normal;
    font-size: 140%;
}
header{
    background-color:rgb(36, 153, 231);
}
.cabecera{
    display: flex;
}
.item{
    margin-left: 13%;
}

